# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

sftp-config.json

# PWA
sw.*

# Backstop
backstop_data/bitmaps_test/*
backstop_data/html_report/*

# Cypress
cypress.env.json
cypress/screenshots/
cypress/videos/