// main: ../main.sass

.star-icon
	display: block
	width: 60px
	padding: 15px
	cursor: pointer
	.star
		fill: none
		stroke: #C9C9C9
		stroke-width: 1.5px
	&.active
		.star
			fill: #EFCE4A
			stroke: #EFCE4A