// main: ../main.sass

.index, .confirme-su-email, .bienvenido, .error
	.secondary-top
		.cancelar__btn
			display: none

.secondary-top
	padding-top: 40px
	&:after
		content: ''
		display: block
		clear: both
	.logo
		float: left
		.logo__stroke
			fill: #fff
	.cancelar__btn
		float: right
		padding-top: 23px
		color: #e5e5e5