// main: ../main.sass

.carousel__container
	background: #424242
	padding: 50px 0 15px
	h2
		color: #eee
		margin-bottom: 40px
		font-size: 32px
		line-height: 36px

.VueCarousel
	color: #eee
	.VueCarousel-pagination[data-v-7e42136f]
		float: none
		text-align: left
	.VueCarousel-slide
		margin-bottom: 15px
		h4
			a
				color: #CCCCCC
				font-size: 22px
				line-height: 28px
				margin-bottom: 10px
		small
			display: block
			margin-bottom: 25px
			a
				color: #8D8D8D