// main: ../main.sass

.main__form
	fieldset
		margin-bottom: 30px
	label
		display: block
		width: 100%
		margin-bottom: 15px
		font-size: 20px
		font-weight: 700
	input:not([type=submit])
		display: block
		width: 100%
		border: 0
		border-bottom: 1px solid #CCCCCC
		padding-bottom: 5px
		font-size: 14px
		color: #95989A
		&:focus
			border-bottom-color: #000
	input[type=submit]
		cursor: pointer