// main: ../main.sass

.configuracion
	.main__header
		padding-bottom: 17.5px
		.buscar
			display: none
	.datos
		h2
			margin-bottom: 20px
	.datos__personales
		margin-bottom: 35px
		&--dato
			margin-bottom: 20px
			p
				font-size: 18px
			span
				color: #989898
				font-size: 16px