// main: ../main.sass

.normativa
	.goBack__header
		position: absolute
		top: 52px
		left: 0
		z-index: 20
		.arrow-left
			float: left
		.star-icon
			float: right
	.top
		background: #EAEAEA
		z-index: 10
		width: 100%
		padding: 200px 0 50px
		h1
			margin-bottom: 10px
		small
			font-size: 16px
			font-weight: 300
	.cuerpo
		span
			font-size: 14px
			font-weight: 300
			color: #8B8B8B
		p
			margin-bottom: 15px
			&:first-of-type
				margin-top: 25px
			&:last-of-type
				margin-bottom: 25px
	.cuerpo__principal
		display: none
		&.active
			display: block