// main: ../main.sass

.normativa
	.alerta-plan
		position: static
	.goBack__header
		position: absolute
		// top: 30px
		left: 0
		z-index: 20
		.volver-btn
			display: inline-block
			span
				display: inline-block
				vertical-align: middle
				padding-left: 12px
			.arrow-left
				display: inline-block
				width: 20px
				vertical-align: middle
		.star-icon
			position: absolute
			right: 0
			top: -11px
		@media(min-width: 992px)
			.container
				max-width: 1000px
				margin: auto
	.top
		background: #EAEAEA
		z-index: 10
		width: 100%
		padding: 200px 0 50px
		h1
			margin-bottom: 5px
		h2
			font-size: 20px
			font-weight: 400
			line-height: 26px
			margin-bottom: 15px
			color: #8e8e8e
		.normativa__tag
			margin-bottom: 1em
		small
			font-size: 14px
			font-weight: 300
		@media(min-width: 992px)
			.container
				max-width: 1000px
				margin: auto
	.cuerpo
		.container
			position: static
			@media(min-width: 992px)
				max-width: 1000px
				margin: auto
		span
			font-size: 14px
			font-weight: 300
			color: #8B8B8B
		p
			margin-bottom: 15px
			&:first-of-type
				margin-top: 25px
			&:last-of-type
				margin-bottom: 25px
			a
				color: #224B8E
				text-decoration: underline
				transition: all 200ms ease-in
				&:hover
					opacity: 0.5
	.cuerpo__principal
		position: fixed
		top: 500%
		left: 0
		width: 100%
		background: #fff
		padding: 15px
		color: #0D1B2A
		z-index: 50
		height: 100%
		min-height: 100vh
		transition: all 500ms ease-in
		@media(max-width: 991px)
			min-height: 1200px
		&.active
			position: absolute
			top: 0
			// bottom: 0
			// overflow-y: scroll
			// overflow-x: hidden
		.cerrar
			font-size: 16px
			margin-bottom: 30px
			display: block
			border-bottom: 1px solid #ccc
			width: 100%
			text-align: left
			padding-bottom: 10px
			@media(min-width: 992px)
				max-width: 1000px
				margin-left: auto
				margin-right: auto
		h1
			margin-bottom: 5px
		h2
			font-size: 20px
			font-weight: 400
			line-height: 28px
			margin-bottom: 15px
			color: #767676
		h1, h2
			@media(min-width: 992px)
				max-width: 1000px
				margin-left: auto
				margin-right: auto
		img
			width: 100%
			display: block
			margin: 0
		> div
			@media(min-width: 992px)
				max-width: 1000px
				margin: auto